@layer base {
  html, body, body > div, body > div > main {
    @apply h-full;
  }

  button:focus {
    outline: none;
  }

  *::-webkit-scrollbar {
    width: 0px;
  }

  ol,
  ul {
    @apply list-disc list-inside ml-3;
  }
}